services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./services/api
    env_file:
      - ./services/api/.env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  streamlit:
    build:
      context: ./services/streamlit
    environment:
      # IMPORTANT: on pointe vers le service docker "api"
      FASTAPI_BASE_URL: "http://api:8000"
    ports:
      - "8501:8501"
    depends_on:
      - api

volumes:
  pgdata:
